@page
@model InDEVstockWebApp.Pages.Produtos.DetailModel
@{
}
<section>
    <h3 class="text-center">Detalhes do produto</h3>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@Html.DisplayFor(model => Model.Produtos.imageUrl)" alt="Imagem do @Html.DisplayFor(model => Model.Produtos.Nome)">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(model => Model.Produtos.Nome)</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Tamanho: @Html.DisplayFor(model => Model.Produtos.Tamanho)</li>
            <li class="list-group-item">Cor: @Html.DisplayFor(model => Model.Produtos.Cor)</li>
            <li class="list-group-item">Quantidade: @Html.DisplayFor(model => Model.Produtos.Quantidade)</li>
            <li class="list-group-item">Modelo: @Html.DisplayFor(model => Model.Produtos.Modelo)</li>
        </ul>
        <div class="card-body text-center">
            <a class="btn btn-danger" asp-page="/Produtos/Delete" asp-route-id="@Model.Produtos.Id" >
                Deletar
            </a>

            <a type="button" class="btn btn-outline-primary" asp-page="/Produtos/Listar">Voltar</a>
            <a type="button" class="btn btn-outline-primary" asp-page="/Produtos/Edita" asp-route-id="@Model.Produtos.Id">Editar</a>

        </div>
    </div>
</section>






